<html>
<body>
  <ul class="list-unstyled"> <!-- TO DO change to article? -->
    <li>
      <section data-sw-id="id" id="">
        <div class="page-header">
          <h2>
            <span class="label label-info" data-sw-text="method">placeholder for method</span>
            <span data-sw-text="path">placeholder for path</span>
          </h2>
        </div>
        <p data-sw-text="doc">placeholder for doc</p>
        <h4>Sample curl command</h4>
        <pre class="prettyprint" data-sw-text="curl">curl sample</pre>
        <h4>Sample response</h4>
        <pre class="prettyprint" data-sw-text="sample-response">sample response</pre>
      </section>
    </li>
  </ul>
</body>
</html>
